<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>Estructura</title>
<link rel="canonical"
	href="https://getbootstrap.com/docs/4.3/examples/album/">
<img src="mapaLocalizacion" alt="">
<style>
body {
	background-color: black;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
<link href="album.css" rel="stylesheet">
</head>

<body>
	<img src="" alt="" srcset="">
	<header>
		<div class="container">
			<div class="row"></div>
			<div class="col-sm-4 offset-md-1 py-4"></div>
		</div>
		</div>
		</div>

		</div>
	</header>
	<main role="main">
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Productos y subproductos</h1>
			<p class="lead text-muted">"la vida sabe mejor con un mezcal"
				mezcal Tesoro de Atlapulco te muestra sus diferentes variedades de
				productos, con los que puedes disfrutar de su rico sabor y olor
				original 100% de agave.</p>
		</div>
	</section>
	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img src="images/65280246_355036268725941_1133056228595859456_n.jpg"
							height="350px" width="250px">
						<div class="card-body">
							<h5>Mezcal joven</h5>
							<img src="images/images (8).jpg" height="350px" width="250px">
							<h5>maguey de papalomettl</h5>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group"></div>
								<small class="text-muted"></small>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img src="images/65242434_333390860890332_6098860835994599424_n.jpg"
							height="350px" width="250px">
						<div class="card-body">
							<h5>licor de jamaica</h5>
							<img src="images/65212939_465733457560503_1195044649765437440_n.jpg"
								height="350px" width="250px">
							<h5>mezcal para eventos</h5>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group"></div>
								<small class="text-muted"></small>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img src="images/65252413_1327602740720755_1862882136961318912_n.jpg"
							height="350px" width="250px">
						<div class="card-body">
							<h5>Crema de cacahuate</h5>
							<img src="images/65421333_452772015512423_4333413635620601856_n.jpg"
								height="350px" width="250px">
							<h5>crema de coco</h5>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group"></div>
								<small class="text-muted"></small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>
</body>
</html>